body {

height: 80%;
width: 80%;
display: flex;
justify-content: center;
align-items: center;
background-color: black;

}




/*Define visuals for the game board*/
#snake-board{

background-color: #CCC;
width: 100vmin;
height: 100vmin;
display: grid;
grid-template-rows: repeat(21,1fr);
grid-template-columns: repeat(21,1fr);
}

/*Define visuals for the snake*/
.snake{

background-color: greenyellow;
border: .25vmin solid black;


}


/*Define the visuals for the food*/
.apple{

background-color: rgb(255, 0, 0);
border: .25vmin solid black;

}


